server:
  port: 8082

spring:
  application:
    name: product-service

  data:
    redis:
      host: localhost
      port: 6380

  profiles:
    include: common

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
